.the-body {
		
	.key-area {
		display: inline-block;
		position: relative;
		overflow: hidden;
		@each $tile-image in ( our-clients place-to-work ) {

			width: (555px  * 0.666 );
			height: (362px * 0.666 );
			
			max-width: 100%;

			background : {
				size: 100%;
				position: center center;
				repeat: no-repeat;
			}

			&.key-area__#{$tile-image} {
				
				$tile-image-url: "../images/#{$tile-image}.png";
				background-image: url($tile-image-url);

			}
		}

		.key-area-data {
			position: absolute;
			bottom: 0;
			color: white;
			left: 5%;

			.key-area-heading {
				margin: 0;
				font-size: 1em;
				font-weight: 500;
			}

			.key-area-list {
				list-style: none;		
				padding: 0;
				
				font-size: 0.75em;
				
				li {
				
					margin-bottom: 0.5em;

					img.key-area-list-arrow {
						height: 1em;
						margin-left: 0.5em;
						transform: translateY(15%);
					}		
				}

				
			}

			
		}

	}
	
}